<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="On" defaultRedirect="../default.aspx">
      <error statusCode="404" redirect="../404.aspx"/>
    </customErrors>
    </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="0" path="../404.aspx" responseMode="Redirect" />
    </httpErrors>

  </system.webServer>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WSSoap1" />
                <binding name="AccPoSoap" />
                <binding name="WSSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="WSSoap3" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="AccPoSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="WSSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.netdata.com/WS.asmx" binding="basicHttpBinding" bindingConfiguration="WSSoap" contract="KullaniciReference.WSSoap" name="WSSoap" />
            <endpoint address="http://www.netdata.com/AccPo.asmx" binding="basicHttpBinding" bindingConfiguration="AccPoSoap" contract="KullaniciInUpDel.AccPoSoap" name="AccPoSoap" />
            <endpoint address="https://www.netdata.com/WS.asmx" binding="basicHttpBinding" bindingConfiguration="WSSoap2" contract="KullaniciVeriCek.WSSoap" name="WSSoap1" />
            <endpoint address="https://www.netdata.com/WS.asmx" binding="customBinding" bindingConfiguration="WSSoap121" contract="KullaniciVeriCek.WSSoap" name="WSSoap12" />
        </client>
    </system.serviceModel>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
  </appSettings>

</configuration>
